* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  .robot-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;

    img {
      width: 400px;
      height: 500px;
    }
  }
  .space {
    width: 25%;
  }
  .login-form {
    width: 33vw;
    height: 70vh;
    background-color: rgb(5, 16, 28);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: black 10px 10px 20px;
    text-align: center;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .form-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .heading {
          font-size: 2.3rem;
          margin-bottom: 20px;
        }
        #r1 {
          width: 100% !important;
        }
        .btn {
          background-color: rgb(0, 255, 252);
          height: 3.2rem;
          border-radius: 10px;
          font-weight: 800;
          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
}
.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
.css-1fgyhrl-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100% !important;
}
@media (min-width: 100px) and (max-width: 600px) {
  .Login {
    .robot-box {
      display: none;
      img {
        display: none;
      }
    }
    .space {
      width: 0;
    }
    .login-form {
      width: 100% !important;
      margin-top: 3rem;
    }
  }
}
@media (min-width: 601px) and (max-width: 850px) {
  .Login {
    .robot-box {
      img {
        width: 250px;
        height: 300px;
      }
    }
    .space {
      width: 20%;
    }
    .login-form {
      width: 100% !important;
      margin-top: 3rem;
    }
  }
}
@media (min-width: 851px) and (max-width: 1250px) {
  .Login {
    .robot-box {
      img {
        width: 350px;
        height: 350px;
      }
    }
    .space {
      width: 30%;
    }
    .login-form {
      width: 100% !important;
      margin-right: 3rem;
    }
  }
}
