html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, serif;
  background-color: #05101c;
  color: white;
}
.logo {
  filter: invert(100%);
}
.nav-links {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.outputbox::-webkit-scrollbar {
  display: none;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
